
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300px;
}

.nav-link {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 40vh;
    padding-bottom: 100px;
}

.card {
    padding-bottom: 100px;
}

.nav-link.active {
    font-weight: 1000;
    text-decoration: none;

}

 .btn-primary {
    background-color:#196794;
    border-color: #2543d9;
    border-radius: 0;
}

.btn-primary:hover {
    background-color:#12abc6;
    border-color: #036dc4;
}

.card {
    background: rgb(208, 206, 206);
    background-size: contain;
    align-items: center;
}
.card-title {
    font-weight: bold;
}

p {
    font-size: medium;
}
.media {
    padding-bottom: 100px;
}
h3 {
    padding-left: 10px;
    font-weight: bold;
}